<article class="post">
    <section class="post-head">
        <h1><%= @post.title %></h1>
        <small>
            <h6>
            <time><%= @post.created_at.to_date.strftime('%B %d, %Y') %></time> |
            <%= link_to 'Edit', edit_post_path(@post) %> |
            <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
            </h6>
        </small>
    </section>

    <section class="post-summary">
        <h5><%= @post.body %></h5>
    </section>
</article>
