<article class="post">
    <div class="post-background">
      <%= image_tag(@post.background, style:'width:100%') %>
    </div>
    <section class="post-head">
        <h1><%= @post.title %></h1>
        <small>
            <h5 class="text-muted">
            <time><%= @post.created_at.to_date.strftime('%B %d, %Y') %></time> by
            <%= @post.user.email %> |
            <time><%= pluralize(@post.views, "View") %></time>
            <% if current_user && current_user.admin %>
                | <%= link_to 'Edit', edit_post_path(@post) %> |
                <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
            </h5>
        </small>
    </section>

    <section class="post-body text-justify">
        <%= @post.body %>
    </section>
</article>
